@import url(https://fonts.googleapis.com/css?family=Gudea:400, 700);
body {
  -webkit-perspective: 800px;
  perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Gudea", sans-serif;
  background: #9ad4d6;

  background: linear-gradient(135deg, #9ad4d6 0%, #101935 100%);
}
body ::-webkit-input-placeholder {
  color: #4e546d;
}
body .authent {
  display: none;
  background: #35394a;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  position: absolute;
  left: 0;
  right: 90px;
  margin: auto;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 70px;
  top: 200px;
  bottom: 0;
  height: 70px;
  opacity: 0;
}

body .success {
  display: none;
  color: #d5d8e2;
}
body .success p {
  font-size: 14px;
}
body p {
  color: #5b5e6f;
  font-size: 10px;
  text-align: left;
}
body .testtwo {
  left: -320px !important;
}
body .test {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  pointer-events: none;
  top: -100px !important;
  -webkit-transform: rotateX(70deg) scale(0.8) !important;
  transform: rotateX(70deg) scale(0.8) !important;
  opacity: 0.6 !important;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
body .login {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  transition-property: opacity, box-shadow, top, left, -webkit-transform;
  transition-property: transform, opacity, box-shadow, top, left;
  transition-property: transform, opacity, box-shadow, top, left,
    -webkit-transform;
  transition-duration: 0.5s;
  -webkit-transform-origin: 161px 100%;
  transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  position: relative;
  width: 240px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 20px 40px 5px 40px;
  background: #35394a;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  z-index: 3;
}
.login:hover {
  border-bottom: 2px solid #9ad4d6;
  border-top: 2px solid #9ad4d6;
  transition: 400ms;
}
body .login .validation {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 6px;
  opacity: 0;
}
body .login_title {
  color: #afb1be;
  height: 60px;
  text-align: left;
  font-size: 16px;
}
body .login_fields {
  height: 208px;
  position: absolute;
  left: 0;
}
body .login_fields .icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: 0.5;
}
body .login_fields input[type="password"] {
  color: #9ad4d6 !important;
}
body .login_fields input[type="text"],
body .login_fields input[type="password"] {
  color: #afb1be;
  width: 190px;
  margin-top: -2px;
  background: #32364a;
  left: 0;
  padding: 10px 65px;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: "Gudea", sans-serif;
  box-shadow: none;
}
body .login_fields__user,
body .login_fields__password {
  position: relative;
}
body .login_fields__submit {
  position: relative;
  top: 35px;
  left: 0;
  width: 80%;
  right: 0;
  margin: auto;
}
body .login_fields__submit .forgot {
  float: right;
  font-size: 10px;
  margin-top: 11px;
  text-decoration: underline;
}
body .login_fields__submit .forgot a {
  color: #606479;
}
body .login_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #9ad4d6;
  color: #9ad4d6;
  text-transform: uppercase;
  font-size: 11px;
  transition-duration: 0.2s;
}
body .login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
body .login_fields__submit input:hover {
  color: white;
  background: #9ad4d6;
  cursor: pointer;
  transition-duration: 0.2s;
}

body .signup_fields__submit .newcreate {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
}
body .signup_fields__submit .newcreate a {
  color: #606479;
}

body .signup_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #9ad4d6;
  color: #9ad4d6;
  text-transform: uppercase;
  font-size: 11px;
  transition-duration: 0.2s;
  margin-top: 13px;
  margin-left: 25%;
}
body .signup_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
body .signup_fields__submit input:hover {
  color: white;
  background: #9ad4d6;
  cursor: pointer;
  transition-duration: 0.2s;
}

/*
body .o_auth_buttons{
margin-top: 75px;
text-align: center;
}
#google_oauth, #facebook_oauth{
font-size: 25px;
color: #afb1be;
margin-left: 15px;
margin-right: 15px;
}*/
.highway {
  height: 100px;
  width: 1000%;
  display: block;
  background-image: url(./../images/road.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: highway 5s linear infinite; /* edit to anim */
}
@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.city {
  height: 250px;
  width: 500%;
  background-image: url(./../images/city.png);
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 20s linear infinite; /* edit anim */
}
@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.car {
  width: 400px;
  left: 10%;
  bottom: 35px;
  position: absolute;
  z-index: 2;
}
.car img {
  width: 100%;
}
.wheels img {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: -15px;
  animation: wheel 1s linear infinite; /* edit anim */
}
@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
.wheel1 {
  left: 22px;
}
.wheel2 {
  left: 280px;
}
.guy {
  position: absolute;
  z-index: 1;
  bottom: 67px;
  left: 305px;
}

.brief_hand {
  position: absolute;
  bottom: 51px;
  z-index: 5;
  left: 270px;
  animation: hand-movement 3s linear infinite; /* edit anim */
}
@keyframes hand-movement {
  0% {
    transform: rotate(12deg);
    transform-origin: top right;
  }
  25% {
    transform: rotate(24deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
    transform-origin: top right;
  }
  75% {
    transform: rotate(9deg);
    transform-origin: top right;
  }
  100% {
    transform: rotate(3deg);
    transform-origin: top right;
  }
}
